body {
  text-align: center;
  font-size: 10px;
}

.box {
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 0;
  right: 40px;
  bottom: 40px;
}

.mainCircle {
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  color: white;
  line-height: 70px;
  z-index: 5;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }
  i {
    line-height: 70px;
  }
}

.subCircle {
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b0deff;
  line-height: 70px;
  transition: 0.5s;
  i {
    line-height: 70px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }
}

.circle1 {
  z-index: 4;

}
.circle2 {
    z-index: 3;
}
.circle3 {
  z-index: 2;

}

.moveup1 {
    animation-name: moveup1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.moveup2 {

    animation-name: moveup2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.moveup3 {
    animation-name: moveup3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveup1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    transform: translateY(-100px);
  }
  30% {
    opacity: 1;
  }
  35% {
    transform: translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateY(-90px);
  }

}
@keyframes moveup2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    transform: translateY(-190px);
  }
  30% {
    opacity: 1;
  }
  35% {
    transform: translateY(-180px);
  }
  100% {
    opacity: 1;
    transform: translateY(-180px);
  }

}
@keyframes moveup3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    transform: translateY(-280px);
  }
  30% {
    opacity: 1;
  }
  35% {
    transform: translateY(-270px);
  }
  100% {
    opacity: 1;
    transform: translateY(-270px);
  }
}
